	.drag_destination{
		height: 100px;
	    width: calc(100%);
	    background: #eee;
	    position: relative;
	    border-radius: 20px;
	    box-sizing: border-box;
	    border: 1px solid rgba(0, 0, 0, 0.25);
	    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	}
    ul {list-style: none;padding:0px;margin:0px;display: flex;}
    ul.el-scrollbar__view.el-select-dropdown__list{
        display: block;
    }
	.card{height: 300px;
    width: 180px;
    background: white;
    border-radius: 10px;
    margin: 10px;position:relative;overflow:hidden;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;
}
    .card-s{height: 75px;
    width: 60px;
    background: white;
    border-radius: 10px;
    margin: 10px;position:relative;overflow:hidden;-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
    .drag_area{
    	height: 30px;
    width: 100%;
    background: #3F51B5;
    float: right;
    position: absolute;
    bottom: 0px;
    cursor:move;
    }
    .drag_area:after{
    	content:"";
    height: 5px;
    width: 50%;
    max-width: 100px;
    max-height: 10px;
    background: #00BCD4;
    position: absolute;
    bottom: 12.5px;
    left: 25%;
    border-radius: 10px;

    }
    .sort_area{
    	height: 20px;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    float: right;
    position: absolute;
    bottom: 0px;
    cursor:ew-resize;
    }
    .sort_area:after{
    	content:"";
    	height: 50%;
	    width: 6px;
	    max-width: 6px;
	    max-height: 20px;
	    background: rgba(255, 255, 255, 0.8);
	    position: absolute;
	    bottom: 5px;
	    left: calc(50% - 3px);
	    border-radius: 10px;
    }
	.sort_man{
		background-color:rgba(0,0,0,.5);
		bottom:2px;
		border-radius: 10px;
		cursor:ew-resize;
		backdrop-filter: saturate(180%) blur(5px);
	}