#all_board{
    max-width:1200px;
    width:1100px;
    min-width:900px;
    overflow: auto;
    margin:0 auto;
}
#top_title{
    width: calc(100% - 250px);
    text-align: center;
    height: 50px;
    margin: 20px 125px;
    line-height: 50px;
    font-size: 25px;
    font-weight: 600;
}
#top_title .title{
    width: 50%;
    float: left;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
}
#top_title .title:hover{
    background:rgba(0,0,0,.1);
}
#search{
    width: calc(100% - 250px);
    height: 45px;
    margin: 0 auto;
    line-height: 45px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    padding: 10px 20px;
}
#search_input{
    height: 45px;
    line-height: 45px;
    width: calc(100% - 10px);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 6px;
    float: left;
}
#search_btn{
    width: 90px;
    height: 45px;
    text-align: center;
    text-indent: 0px;
    border-radius: 10px;
}
#select_input{
    width: calc(100% - 150px);
    height: 40px;
    float: right;
    border-radius: 10px;
    background: #f9f9f9;
}
#ju_select .select_title{
    width: 100px;
    float: left;
    height: 40px;
    line-height: 40px;
}
#ju_select{
    width: calc(100% - 250px);
    height: 40px;
    margin: 20px auto;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    border-radius: 10px;
    line-height: 40px;
}
.show_board{
    width: calc(100% - 250px);
    height: fit-content;
    margin: 15px auto;
    background: #cacaca38;
    padding:20px;
    border-radius: 10px;
}
.new_btn{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #42A5F5;
    float:left;
}
.save_msg_box{
    position: relative;
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.show_board .tb{
    width: calc(100% - 20px);
    text-align: center;
    margin-left: 10px;
}
.show_board .tb .li{
    width:100%;
    height:30px;
}
#show_board .tb .li .ju_name{

}
#show_board .tb .li .main_character{

}
#show_board .tb .li .secondary_character{

}
#show_board .tb .li .relationship{

}
.show_board  .operation{
    width: 120px;
}
.show_board table,th,td{
    border:1px solid;
    border-collapse: collapse;
}
.show_board  .alter{
    float: left;
    font-size: 12px;
    border-radius: 10px;
    background: #64B5F6;
    padding: 3px 10px;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}
.show_board  .delete{
    float: right;
    font-size: 12px;
    border-radius: 10px;
    background: #E57373;
    padding: 3px 10px;
    color: white;
    margin-right: 5px;
    cursor: pointer;
}
.relation_tip {
    width: 296px;
    height: 436px;
    background: rgba(242, 242, 242, 1);
    position: absolute;
    left: calc(50% - 188px);
    top: calc(50% - 238px);
    border-radius: 26px;
    padding: 20px 40px;
    border: 1px solid;
}
.relation_tip .tip_title{
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
}
.relation_tip .tip_subtitle{
    margin:15px 0 3px 0;
}
.relation_tip .tip_input{
    width:290px;
    height:25px;
}
.relation_tip select{
    width:296px;
    height:25px;
}
.relation_tip input[type=button],#delete_relation input[type=button],#delete_character input[type=button]{
    margin: 10px 2px 0 2px;
    width: 140px;
    height: 40px;
    border-style: solid;
    background: white;
    border-radius: 15px;
    outline:none;
}
.close_btn{
    height: 30px;
    width: 30px;
    background: #ef1313;
    border-radius: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
}
#delete_relation{

}
#delete_relation .tip_delete{
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-top:10px;
}
#character_insert{

}
#character_insert .tip_character{
    margin: 20px 0px;
}
#character_insert .character_select{
}
#delete_character{

}
#delete_character .tip_delete{
    width: 100%;
    text-align: center;
    height: 90px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-top:10px;
}
#rm_change_character,#rm_insert_character{
}
